<div class="container">
    <div class="text-center">
        <h1 class="display-3 mt-5 text-light">Library Application
        </h1>
        <div class="btn-group mt-5" dropdown placement="bottom right">
            <button id="button-alignment" class="btn btn-primary" aria-controls="dropdown-alignment">
                <i class="fas fa-book mr-2"></i><a href="book">Books</a>
            </button>
            <button id="button-alignment" class="ml-5 btn btn-danger" aria-controls="dropdown-alignment">
                <i class="fas fa-book mr-2"></i><a href="author">Authors</a>
            </button>
        </div>
    </div>