.container {
  width: 40vh;
  height: 100%;
  margin-top: 50px;
}

input {
  font-size: 16px;
  text-align: center;
}

.fa-exclamation-circle {
  color: tomato;
  font-size: 20px;
}

.fa-check-circle{
  color: #82c91e;
}

.fa-eye{
  color: rgb(10, 141, 218)
}